*{
    margin: 0;
    /* height: 100%; */
}


.container {
    margin-top: 200px;
}

.data_user {
    align-items: center;
    justify-content: left;
    font-size: 20px;
    color: rgb(2, 2, 134);
}

.image_user {
    height: 100px;
    width: 100px;
}