/* 
body {
    margin: 0px;
}

.whapper {
    height: 100vh;
    background-color: black;

  
}

h1{
    color: #fff;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;

} */

