
{% extends "index.html" %}
<title>{% block title %} Home {% endblock %}</title>

{% block content %}
    <div class="container-user">
        <div class="data_user">
            <img src="/static/img/images.png" alt="Imagem do perfil do usuário" class="image_user">
            <div>Usuário: {{user.name}}</div>
            <div>Identificação única: {{user.registration}}</div>
            <div>Créditos:R${{user.credits}}</div>
            <form method="POST">
                <input type="credits" name="credits" id="credits" placeholder="Digite o valor da recarga">
                <button type="submit" class="btn btn-primary">Recarregar</button>
            </form>
        </div>  
    </div>
{% endblock %}


